.place__paragraphes{
    display: flex;
    max-width: 484px;
    flex-direction: column;
}
@media screen and (max-width: 1279px){
    .place__paragraphes{
        max-width: 456px;
    }
}
    
@media screen and (max-width: 1023px){
    .place__paragraphes{
        max-width: 352px;
    }
}
@media screen and (max-width: 767px){
    .place__paragraphes{
        max-width: 288px;
        margin:0 16px 0 16px;
    }
}
